@model _231103015_Ali_Yahya_Atasever.ViewModels.KurallarViewModel


<!doctype html>
<html lang="tr">
<head>

	<title>Kadıköy Korku Evi |  Korku Evi 3 Katlı Korku Evi - Kurallar</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Kadıköy korku evi istanbul korku evi 3 katlı en büyük korku evi">
	<link rel="icon" type="image/png" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/styles.css">

	<meta name="content-language" content="tr">
	<meta name="robots" content="index, follow">
	<link rel="canonical" href="https://kadikoykorkuevi.com/index.html">
	<link rel="shortcut icon" href="https://kadikoykorkuevi.com/images/favicon.ico">
	<link rel="publisher" href="https://plus.google.com/115306529212845963600/posts?hl=tr" />
	<link rel="author" href="https://plus.google.com/115306529212845963600/posts?hl=tr" />
	<meta property="og:url" content="https://kadikoykorkuevi.com/index.html" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Kadıköy Korku Evi 3 Katlı Korku Evi ve Evden Kaçış Oyunu" />
	<meta property="og:image" content="https://kadikoykorkuevi.com/images/logo.png" />
	<meta property="og:description" content="Kadıköy Korku Evi 3 Katlı Korku Evi ve Evden Kaçış Oyunu" />
	<meta property="og:site_name" content="Kadıköy Korku Evi 3 Katlı Korku Evi ve Evden Kaçış Oyunu" />
	<meta name="twitter:title" content="Kadıköy Korku Evi 3 Katlı Korku Evi ve Evden Kaçış Oyunu">
	<meta name="twitter:description" content="Kadıköy Korku Evi 3 Katlı Korku Evi ve Evden Kaçış Oyunu">
	<meta name="twitter:image:src" content="https://kadikoykorkuevi.com/images/logo.svg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">


	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-WRS2DDF');</script>
	<!-- End Google Tag Manager -->
	<!-- Google Yapısal Veri İşaretleme Yardımcısı tarafından oluşturulan JSON-LD işaretlemesi. -->
	<!-- Global site tag (gtag.js) - Google Ads: 397119712 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-397119712"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'AW-397119712');
	</script>
	<!-- Event snippet for Telefon conversion page
	In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
	<script>
		function gtag_report_conversion_tel(url) {
			var callback = function () {
				if (typeof (url) != 'undefined') {
					window.location = url;
				}
			};
			gtag('event', 'conversion', {
				'send_to': 'AW-397119712/VcHrCNumjP8CEOChrr0B',
				'event_callback': callback
			});
			return false;
		}
	</script>

	<!-- Event snippet for WhatsApp conversion page
	In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
	<script>
		function gtag_report_conversion_wp(url) {
			var callback = function () {
				if (typeof (url) != 'undefined') {
					window.location = url;
				}
			};
			gtag('event', 'conversion', {
				'send_to': 'AW-397119712/NyWyCLG6hv8CEOChrr0B',
				'event_callback': callback
			});
			return false;
		}
	</script>
	<!-- Event snippet for Rezervasyon conversion page
	In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
	<script>
		function gtag_report_conversion_rez(url) {
			var callback = function () {
				if (typeof (url) != 'undefined') {
					window.location = url;
				}
			};
			gtag('event', 'conversion', {
				'send_to': 'AW-397119712/rSiECPmV0ZEDEOChrr0B',
				'event_callback': callback
			});
			return false;
		}
	</script>
</head>
<body>

	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRS2DDF"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDJDRZ3"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<main>
		<div class="container">
			<div class="head-slogan">
				3 KATLI, 12 ODALI
				<br>
				<span id="denemeid">EKSTRA PARKUR VE HANGAR</span>
				<div style="font-size: 15px;">K A D I K Ö Y K O R K U E V İ</div>
			</div>
			<div class="head-buttons">
				<div class="text">Rezervasyon veya Bilgi Almak İçin Bize Ulaşın</div>
				<div class="head-buttons-inner">
					<a onclick="return gtag_report_conversion_wp('https://wa.me/905452071104?text=Merhaba');" href="https://wa.me/905452071104?text=Merhaba" class="whatsapp" title="Bize Whatsapp'tan Yazın">
						<span>
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.0045 2.90625C15.1339 1.03125 12.6429 0 9.99554 0C4.53125 0 0.0848214 4.44643 0.0848214 9.91071C0.0848214 11.6563 0.540179 13.3616 1.40625 14.8661L0 20L5.25446 18.6205C6.70089 19.4107 8.33036 19.8259 9.99107 19.8259H9.99554C15.4554 19.8259 20 15.3795 20 9.91518C20 7.26786 18.875 4.78125 17.0045 2.90625V2.90625ZM9.99554 18.1563C8.51339 18.1563 7.0625 17.7589 5.79911 17.0089L5.5 16.8304L2.38393 17.6473L3.21429 14.6071L3.01786 14.2946C2.19196 12.9821 1.75893 11.4688 1.75893 9.91071C1.75893 5.37054 5.45536 1.67411 10 1.67411C12.2009 1.67411 14.2679 2.53125 15.8214 4.08929C17.375 5.64732 18.3304 7.71429 18.3259 9.91518C18.3259 14.4598 14.5357 18.1563 9.99554 18.1563V18.1563ZM14.5134 11.9866C14.2679 11.8616 13.0491 11.2634 12.8214 11.183C12.5938 11.0982 12.4286 11.058 12.2634 11.308C12.0982 11.558 11.625 12.1116 11.4777 12.2813C11.3348 12.4464 11.1875 12.4688 10.942 12.3438C9.48661 11.6161 8.53125 11.0446 7.57143 9.39732C7.31696 8.95982 7.82589 8.99107 8.29911 8.04464C8.37946 7.87946 8.33929 7.73661 8.27679 7.61161C8.21429 7.48661 7.71875 6.26786 7.51339 5.77232C7.3125 5.29018 7.10714 5.35714 6.95536 5.34821C6.8125 5.33929 6.64732 5.33929 6.48214 5.33929C6.31696 5.33929 6.04911 5.40179 5.82143 5.64732C5.59375 5.89732 4.95536 6.49554 4.95536 7.71429C4.95536 8.93304 5.84375 10.1116 5.96429 10.2768C6.08929 10.442 7.70982 12.942 10.1964 14.0179C11.7679 14.6964 12.3839 14.7545 13.1696 14.6384C13.6473 14.567 14.6339 14.0402 14.8393 13.4598C15.0446 12.8795 15.0446 12.3839 14.9821 12.2813C14.9241 12.1696 14.7589 12.1071 14.5134 11.9866Z" fill="white" />
							</svg>
						</span>
						<span>
							Whatsapp
						</span>
					</a>
					<a onclick="return gtag_report_conversion_tel('tel:905452071104');" href="tel:905452071104" class="phone" title="Bizi Arayarak Rezervasyon Yapın">
						<span>
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.4296 14.1327L15.0546 12.2577C14.8677 12.178 14.6599 12.1612 14.4627 12.2098C14.2654 12.2585 14.0893 12.3698 13.9608 12.5272L12.0233 14.8944C8.98248 13.4607 6.53535 11.0136 5.10165 7.97283L7.46888 6.0353C7.62657 5.90704 7.73818 5.73091 7.78681 5.53355C7.83545 5.33619 7.81846 5.12837 7.73842 4.94153L5.86338 0.566453C5.77554 0.365046 5.62016 0.200605 5.42406 0.101483C5.22796 0.00236143 5.00341 -0.0252272 4.78915 0.0234743L0.726575 0.960991C0.519997 1.00869 0.335688 1.12501 0.203728 1.29095C0.0717689 1.45689 -4.75872e-05 1.66266 2.36575e-08 1.87468C2.36575e-08 11.8944 8.12123 20 18.1253 20C18.3374 20.0001 18.5433 19.9284 18.7093 19.7964C18.8753 19.6644 18.9917 19.4801 19.0394 19.2734L19.9769 15.2108C20.0253 14.9955 19.9971 14.7701 19.8972 14.5733C19.7973 14.3765 19.632 14.2207 19.4296 14.1327V14.1327Z" fill="white" />
							</svg>
						</span>
						<span>
							Hemen Ara
						</span>
					</a>
				</div>
			</div>
			<section class="our-story">
				<article>
					<header>
						@foreach (var item in Model.KurallarBasliklar)
							{
								<h1 id="h1id">@item.Kurallarbaslik1</h1> <!-- Veritabanındaki başlıkları burada görüntüle -->
							}
					</header>
					<p class="text-one">
						<ul class="lister">
							@foreach (var item in Model.KurallarIcerikler)
							{
								<li>@item.Kuralicerik</li> <!-- Veritabanındaki başlıkları burada görüntüle -->
							}
						</ul>
					</p>
				</article>
			</section>
		</div>
	</main>


</body>
</html>